 <html>
<body>
<table width="100%" height="100%" bgcolor="#ffffff" style="background-color:#ffffff">
	<tbody>
    	<tr>
        	<td>
            	<table align="center" border="0" cellpadding="0" cellspacing="0" width="510" height="auto">
                    <tbody>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>                          
                            <td align="left">
                            	<img src="cid:logo" alt="Cens"/>
                            </td>
							<td align="right">
                           	<span style="color: rgb(0, 85, 119);display: block;font-family: cursive;font-size: 18px;font-style: italic;font-weight: bold;">Notificaci&oacute;n de Actividad </span>
                          </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fafafa">
                                    <tbody>
									<tr>
                                        <td colspan="4" height="5" style="background-color:rgb(0, 85, 119);"></td>
                                    </tr>
									<tr>
                                        <td colspan="4" height="5"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="10" width="20">&nbsp;</td>
                                        <td style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#727274;font-weight:bold"><span style="text-transform:uppercase">$nombre</span>,</td>

                                    </tr>
                                    <tr>
                                        <td style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#727274">Se le informa que tiene las siguientes notificaciones:</td><td><br>
                                    </td></tr>
                                    <tr>
                                        <td style="font-size:7px">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb">
                                                <tbody>
                                                	<tr>
                                                    	<td style="font-size:5px">&nbsp;</td>
                                                    </tr>
                                                     #if ( $comentario)
                                                    	<tr>                                                    
                                                    		<td style="color: rgb(0, 85, 119);font-family: 'Helvetica Narrow', sans-serif;">
                                                        		Comenterarios realizados: 
																	<table>
																		<tbody>
																			#foreach( $key in $comentario.keySet() )	
																																			
																				#if ($key == 'PROGRAMA')
																					<tr>
																						<td style="color: rgb(0, 85, 119);font-family: 'Helvetica Narrow', sans-serif;font-size: 13px;">
																							Programas:
																							<table>
																								<tbody>																									
																									#foreach( $programa in $comentario.get($key) )													
																									<tr>
																									<ul>
																										<li><td style="font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #727274;">Curso: <span style="font-weight: 600; text-transform: uppercase;">$programa.Curso ($programa.Year)</span>,<br/>Asignatura: <span style="font-weight: 600; text-transform: uppercase;">$programa.Asignatura</span>, <br/> Programa: <span style="font-weight: 600; text-transform: uppercase;">$programa.Programa</span><br/>, Nro de Mensajes: <span style="font-weight: 600; text-transform: uppercase;">$programa.Cantidad</span>, Fecha: #if($programa.Notificado == 'true')<span style="color: red;">#else <span style="color: rgb(0,85,119);"> #end $programa.Fecha</span></td></li>
																									</ul>
																									</tr>																									
																									#end																									
																								</tbody>																							
																							</table>
																						</td>
																					</tr>
																				#end
																				#if ($key == 'MATERIAL')
																					<tr>
																						<td style="color: rgb(0, 85, 119);font-family: 'Helvetica Narrow', sans-serif;font-size: 13px;">
																							Materi&aacute;l Did&aacute;ctico:
																							<table>
																								<tbody>																									
																									#foreach( $material in $comentario.get($key) )													
																									<tr>
																									<ul>
																										<li><td style="font-family: Arial,Helvetica,sans-serif;font-size: 11px;color: #727274;">Curso: <span style="font-weight: 600; text-transform: uppercase;">$material.Curso ($material.Year)</span>,<br/>Asignatura: <span style="font-weight: 600; text-transform: uppercase;">$material.Asignatura</span>,<br/> Programa: <span style="font-weight: 600; text-transform: uppercase;">$material.Programa</span>,<br/> Cartilla: <span style="font-weight: 600; text-transform: uppercase;">$material.Material</span>,<br/> Nro de Mensajes: <span style="font-weight: 600; text-transform: uppercase;">$material.Cantidad</span>, Fecha: #if($material.Notificado == 'true')<span style="color: red;">#else <span style="color: rgb(0,85,119);"> #end $material.Fecha</span></td></li>
																									</ul>
																									</tr>																									
																									#end																									
																								</tbody>																							
																							</table>
																						</td>
																					</tr>
																				#end
																			#end
																		</tbody>
																	</table>
                                                        	</td>
                                                    	</tr>
                                                    #end
													
                                                    <tr>
                                                    	<td style="font-size:5px">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                   
                                </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
							<td colspan="4" height="5" style="background-color:rgb(0, 85, 119);"></td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            	<table width="100%" border="0" cellpadding="0" cellspacing="0">
                                	<tbody><tr>
                                    	<td style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#666666;margin:0">Por favor no responda este mensaje ya que ha sido enviado desde una casilla autom&aacute;tica. Si usted NO desea recibir esta informaci&oacute;n en el futuro, por favor elimine su direcci&oacute;n de Email desde las opciones de 'Mi Perfil' del Sistema de <span style="font-weight: bold;">Gesti&oacute;n de Material Did&aacute;ctico</span> Para mayor informaci&oacute;n comun&iacute;quese comuniquese con el &aacute;rea de asesoria del CENS </td>
                                    </tr>
                                    <tr>
                                    	<td>&nbsp;</td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="30">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>