@CHARSET "ISO-8859-1";

body {
	font: normal normal 13px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #333333;
	background: #fcfbf5 none repeat scroll top left;
	text-align:left;	
}

#allContent {
	width:1150px;
	margin:0px auto; /* Right and left margin widths set to "auto" */
	text-align:left; /* Counteract to IE5/Win Hack */
	padding:15px;
	border:1px #333;
}

#myHeader {
	margin-bottom: 5px;
}

#myExample {
	margin-top: 10px;
	text-align:left;
}


.header {
	float: left;
	margin-right: 10px;
}

#myFooter {
	margin-top: 20px;
	float: right;
}

.clear {
	clear: both;
}

a:link {
	text-decoration: underline;
	color: #d52a33;
}
a:visited {
	text-decoration: none;
	color: #7d181e;
}
a:hover {
	text-decoration: underline;
	color: #d52a33;
}

h1 {
	font: normal normal 24px Georgia, Utopia, 'Palatino Linotype', Palatino, serif;
	color: #333333;
	text-shadow: 0 0 -1px #000000;
}

h2 {
	font: normal 18px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #333333;
}

/*****************************************************************************/
				/* Estilo pantalla Detalle del Filtro*/
/*****************************************************************************/
#content.detalle-filtro div.left, #content.detalle-filtro div.right{display: inline-block; width: 50%;}
#content.detalle-filtro div.right{display: inline-block; width: 48%; vertical-align: top;}
#content.detalle-filtro .top div.right{width: 20%;}
#content.detalle-filtro .top div.left{width: 78%;}
#content.detalle-filtro div.top{height: 250px;}
#content.detalle-filtro ul{list-style: none;}
#content.detalle-filtro .top{background-color: #ddd;}
/* Estilo para la parte superior derecha de la pantalla de Detalle del Filtro*/
.top .right ul .center-li{margin: 0px auto; width: 200px;}
.top .right #input-cantidad, #pedido_container #top #input-cantidad{font-size: 13px; min-height: 0px; height: 18px; width: 35px; padding-left: 3px; margin-top: 1px; text-align: center;}
.top .right .ui-input-text.ui-shadow-inset.ui-corner-all.ui-btn-shadow.ui-body-c{display: inline-block; height: 25px; width: 40px;}
.top .right ul{padding: 0px;}
.top .right button{display: inline-block; height: 25px; width: 30px; vertical-align: top;}
.top .right .ui-btn-inner{height: 25px; font-size: 12px; padding: 1px;}
/* .top .right #filtro-image{background-size: 230px 172px;	display: block;	width: 230px; height: 172px; margin: 5px 0px;} */
.top .right .ui-icon-filtros-add .ui-icon{background-image: url("v2/images/add-icon1.png"); background-size: 15px 15px;}
.top .right .ui-icon-filtros-delete .ui-icon{background-image: url("v2/images/delete-icon1.png"); background-size: 15px 15px;}
.top .right #filtros-agregados{padding-top: 7px;}
.top .left li{padding-top: 4px; font-size: 16px;}
.top .left .val-nom-datos-filtro{font-family: serif; font-weight: normal;width: 350px;}
.top .left .nom-datos-filtro{width: 210px; display: inline-block; font-weight: normal; text-decoration: underline;}
.top .left .nom-datos-filtro.codigo{font-weight: bold}
#div_header .left .ui-icon-filtros-volver{font-size: larger; font-weight: bold; height: 26px; width: 64px; vertical-align: top; margin-top: 2px;}
#content.aplicaciones-filtro .inline{display: inline-block;}
/*****************************************************************************/
						/* Estilo pantalla Pedido*/
/*****************************************************************************/
#pedido_container #div_pedido_header{height: 25px; background-image: -webkit-linear-gradient(top,#dae7f6,#cddef3 45%,#abc7ec 46%,#abc7ec 50%,#b8cfee 51%,#cbddf3); border-style: solid; border-width: 1px; text-align: left;}
#pedido_container #div_pedido_header .title{color: #1468A2;	font-weight: bold; padding-left: 10px; margin-top: 4px; display: inline-block;}
#pedido_container #top ul{list-style: none;}
#pedido_container #top li{margin-top: 13px;}
#pedido_container #top button span{font-size: 1.0em !important; padding: 0.2em 0.8em !important;}
#pedido_container #top button{margin: 0px 0px 2px 40px; border: 1px solid #81a4d0; border-radius:5px; }
#pedido_container #top .filtro{padding: 25px 0px; margin: 0px auto; width: 550px;}
#pedido_container #top .filtro .cantidad-input-div{display: inline-block !important;}
.ui-autocomplete-loading {background: white url('v2/images/ui-anim_basic_16x16.gif') right center no-repeat;}
#pedido_container #top label{display: inline-block;}
#pedido_container #bottom label{width: 150px; display: inline-block;}
#pedido_container #bottom #table-header{padding: 10px;height: 38px;}
#pedido_container #bottom #div_content #table-header .right #descargar-pedido-button,
#pedido_container #bottom #div_content #table-header .right #limpiar-pedido-button {display:inline-block; margin-right: 10px; padding: 3px;}
#pedido_container #bottom #div_content #table-header .right #descargar-pedido-button:hover,
#pedido_container #bottom #div_content #table-header .right #limpiar-pedido-button:hover{background-color: #dbeeff;	border: 1px solid #81a4d0; margin:-1px 9px -1px -1px; border-radius:5px;}
#pedido_container #bottom #div_content #table-header #codigo-cliente-input-div{display:inline-block}
#pedido_container #bottom #div_content #table-header .left{display:inline-block; float: left; padding-top: 5px;}
#pedido_container #bottom #div_content #table-header .right{display:inline-block; float: right}
#pedido_container #bottom #div_content #table-header #descargar-pedido-image{background-image: url("../images/cart_put.png"); background-repeat: no-repeat; display: inline-block; width: 32px; height: 33px; vertical-align: middle;}
#pedido_container #bottom #div_content #table-header #limpiar-pedido-image{background-image: url("../images/cart_delete.png"); background-repeat: no-repeat; display: inline-block; width: 32px; height: 33px;	vertical-align: middle;}
#pedido_container #bottom #div_content #table-header .right .pedido-button{text-decoration: none; color: #333;}
#pedido_container #bottom #div_content #table-header{border-color: #99bce8;	border-width: 1px; border-style: solid;	background-color: #d3e1f1; background-image: -webkit-linear-gradient(top,#dfe9f5,#d3e1f1);}
#pedido_container #div_pedido_header .total-row{float: right; padding-right: 75px; font-size: 17px;}
#pedido_container #div_pedido_header.footer{position: absolute; width: 99.8%; bottom: 0px;}
#pedido_container .disable{opacity: 0.5;}
/*****************************************************************************/
						/* Estilo pantalla Inicio*/
/*****************************************************************************/
#container-principal{margin: 50px;}
body#inicio-page{background-color: white !important; height: auto!important;}
#container-inicio{background-color: #dbeeff; border: 1px solid #81a4d0; border-radius:5px; padding: 50px; background-color: #1468A2; background-image: linear-gradient(#1E93E4, #1676B9 3%, #11598C); width: 600px; margin: 0 auto;}
#container-inicio #header-busquedda{text-align: center; margin: 0px 0px 36px 0px; font-size: 22px; color: #fff; text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0; line-height: 2.1em;}
#container-inicio #button{display: inline-block; background-color: #dbeeff; border: 1px solid #81a4d0; border-radius:5px;}
#container-inicio #button.left{margin-left:-43px;}
#container-inicio #button.fotos{margin-left:20px;}
#container-inicio #button.right{float: right;margin-right:-29px;}
#container-principal #logo-empresa{width: 100%; height: 180px; padding-bottom: 25px; width: 699px; margin: 0 auto;}
#container-principal #imagen-logo{background-image: url("../images/logo_Solivellas.jpg"); background-repeat: no-repeat; background-size: 100%; width: 100%; height: 100%; display: inline-block;}

#texto-vacio{
margin: 0 auto;
display: block;
/* height: 30px; */
padding: 8% 0%;
width: 200px;
text-align: center;
}

.image-wrapper{
    max-width:90%;
    width: 210px;
    height:170px;
    position: relative;
    display:block;
    margin: 10px auto;
/* 	background-color: white; */
}
.image-wrapper img{
    max-width:100%;
	max-height: 100%;
/* 	width: 100%; */
/* 	height: 100%; */
	margin: 0px auto;
    display: block;
	bottom: 0px;
	position: absolute;
}

table tbody tr td, table tbody tr, table tbody, table, .detalle-filtro .top .left ul li label,
.detalle-filtro .top .left ul li, .detalle-filtro .top .left ul, 
.detalle-filtro .top .left, .detalle-filtro .top,
.detalle-filtro, #div_header .center .title, body, div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tablaArticulos .jqgrow, 
#tablaAplicaciones .jqgrow,
#filtros-aire-table .jqgrow,
#filtros-aceite-table .jqgrow,
#filtros-combustible-table .jqgrow,
#filtros-habitaculo-table .jqgrow,
#filtros-otros-table .jqgrow,
#aplicaciones-table .jqgrow,
#reemplazos-table .jqgrow{
    cursor:pointer;
}